BIRD/
spider2-lite/
spider2-snow/
.DS_Store

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env
.env/
experiment/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp